* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --application-dark: #23273b;
    --application-light: #fff;
    --application-highlighted: #73eedc;
  }
  
  body {
    background-color: var(--application-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "DM Sans", sans-serif;
    color: var(--application-light);
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  main {
    padding: 6rem 6rem 4rem 6rem;
    background-color: var(--application-dark);
    color: var(--application-light);
  }
  
  .typing-animation {
    float: left;
    font-weight: 700;
    font-size: 32px;
    font-family: "DM Sans", sans-serif;
    line-height: 38px;
    max-width: 28ch;
    margin-bottom: 32px;
  }
  
  .typing-animation span {
    display: inline-block;
    color: var(--application-highlighted);
    position: relative;
    height: 29px;
  }
  
  .typing-animation > span::after {
    content: "|";
    font-weight: 100;
    line-height: 32px;
    font-size: 40px;
    color: var(--application-highlighted);
    opacity: 1;
    animation: cursor-animation 0.7s infinite;
  }
  
  .typing-animation div {
    font-weight: 500;
    opacity: 0.8;
    margin-top: 16px;
    font-size: 24px;
    line-height: 28px;
    font-family: "DM Sans", sans-serif;
  }
  
  .typing-animation div span {
    color: var(--application-highlighted);
  }
  
  .iphoneCv {
    height: 76vh;
    float: right;
    margin-top: -32px;
  }

  footer {
    background-color: var(--application-dark);
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }

  footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  
  
  @keyframes cursor-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 992px) {
    main {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
    }
  
    header {
      align-items: center;
      padding: 1rem 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .typing-animation {
      font-size: 20px;
      line-height: 22px;
      max-width: 28ch;
      margin-bottom: 32px;
    }
  
    .typing-animation > span::after {
      content: "|";
      font-weight: 100;
      line-height: 22px;
      font-size: 24px;
      color: var(--application-highlighted);
      opacity: 1;
      animation: cursor-animation 1s infinite;
    }
  
    .typing-animation div {
      margin-top: 16px;
      font-size: 16px;
      line-height: 18px;
    }
  
    .iphoneCv {
      height: 50vh;
      margin-top: 0;
      float: none;
      margin: auto;
      z-index: 2;
    }

    footer {
    flex-direction: column;
    gap: 8px;
    }
  }

